@import url("/assets/css/global.css");


header
{
    height: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
}
nav
{
    gap: 10px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
}
a
{
    color: var(--primary);
}