<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="header.css">
        <script src="header.js" type="module"></script>
    </head>
    <body>
        <header>
            <nav>
                <a href="https://kingdox.bearblog.dev/" target="_top">📒 Blog</a>
                <a href="/pages/about/index.html" target="_top">🔎 About</a>
            </nav>
        </header>
    </body>
</html>



<!-- <div class="icon-bar" id="toolbar" data-block-clicks="">
  <div id="open-about" >🔨</div>
  <div id="zoom" >🔎</div>
  <div id="center" >🏠</div>
  <div id="fullscreen"  hidden="">💢</div>
  <div id="unlocked" data-locked-visibility="hidden" hidden="">🔓</div>
  <div id="locked" data-locked-visibility="shown">🔒</div>
  <div id="add-delete-icon" draggable="true" data-locked-visibility="hidden" hidden="">🗃️</div>
</div> -->

    <!-- <header id="navbar-desktop" class="sticky py-100">
        <nav class="navbar-nav">
          <a href="/notes" aria-label="All notes." class="hover-highlight  navbar-element">/ notes</a>
          <a href="/about" aria-label="About me." class="hover-highlight navbar-element-active navbar-element" >/ about</a>
        </nav>
      </header> -->
