<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="header.css">
        <script src="header.js" type="module"></script>
    </head>
    <body>
        <header>
            <nav>
                <!-- <a href="https://kingdox.bearblog.dev/" target="_top">📒 Blog</a> -->
                <!-- <a href="/" target="_top">😎 Home</a> -->
                <a href="https://xavierarpa.com" target="_top">😎 Home</a>
                <a href="/pages/about/index.html" target="_top">🔎 About</a>
            </nav>
        </header>
    </body>
</html>