/* fade-in.css */

.fade-in {
    animation: fade-in 0.6s cubic-bezier(.165, .84, .44, 1) both
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}