/* Variables */
:root { 
    /* COLOR */
    --color-light:              #FFFFFF; /* Blanco puro */
    --color-gray-light:         #F5F5F5; /* Gris muy claro */
    --color-gray-medium-light:  #DCDCDC; /* Gris claro */
    --color-gray-medium:        #A9A9A9; /* Gris medio */
    --color-gray:               #808080; /* Gris */
    --color-gray-dark:          #696969; /* Gris oscuro */
    --color-gray-very-dark:     #333333; /* Gris muy oscuro */
    --color-black:              #000000; /* Negro puro */
    --color-red:                #ff0000; /* Rojo */
    --color-green:              #00ff00; /* Verde */
    --color-blue:               #0000ff; /* Azul */
    --color-yellow:             #FFFF00; /* Amarillo */

    /* FONT */
    --font-apple-system:        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
    /* Style */
    --font: var(--font-apple-system); /* Font */
    --primary: var(--color-light); /* Principal Text */
    --secondary: var(--color-black); /* Principal Backgrounds */
    --tertiary: var(--color-gray); /* Alternative Text */
    --quartery: var(--color-light); /* Alternative Backgrounds */

    transition: background-color 0.5s ease;
}

body 
{
    font-family: var(--font-apple-system);
}

body, html 
{
    color: var(--primary);
    background-color: var(--secondary);
    height: 100%;
    scroll-behavior: smooth;
    border: none;
    margin: 0;
    padding: 0;
}
