:root {
    --image-border-radius: 2px;
    --base-color: #fdfdfd;
    --accent-color: #ffd8b5;
    --scrollbar-color: rgba(0, 0, 0, 0.15);
    --content-size: 800px;
    --link-hover-color: rgb(0, 0, 0);
    --highlighter-roundness: 10px;
    --marker-roundness: 10px;
    --green: 130, 255, 173;
    --orange: 255, 218, 98;
    --blue: 79, 155, 255;
    --red: 255, 98, 124;
    --yellow: 255, 234, 71;
    --gray: rgba(60, 60, 60, 0.7)
}

body 
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

body, html 
{
    background-color: var(--base-color);
    scroll-behavior: smooth;
    border: none;
    height: 100%;
    margin: 0;
    padding: 0;
}