/* timeline.css */


/* TIMELINE */
.timeline
{
    margin-top: 20px;
    margin-bottom: 30px
}
.timeline.space-left
{
    margin-left: 20px;
}

/* TIMELINE > UL */
.timeline>ul
{
    position: relative;
    padding-left: 45px;
    list-style: none
}

/* TIMELINE > UL > LI*/
.timeline>ul>li
{
    position: relative;
    padding-bottom: 20px;
}
.timeline>ul>li:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -37px;
    height: 100%;
    width: 10px;
}
.timeline>ul>li::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -44px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}


/* TIMELINE > UL > LI > P*/
.timeline>ul>li>p
{
    position: relative;
    top: -5px;
    margin: 0;
    text-align: left;
}

.timeline>ul>li>p.timeline-title
{
    font-size: 16px;
    font-weight: bold;
}

.timeline>ul>li>p.timeline-description
{
    font-size: 12px;
}

.timeline>ul>li>p>a
{
    
    font-size: small;
    padding: 0;
    margin: 0;
    font-weight: 700;
    color: var(--tertiary);   
}



/* FILL (DONE) */
.timeline>ul>li.timeline-fill:not(:last-child)::before 
{
    border-left: 3px solid var(--primary);
}
.timeline>ul>li.timeline-fill::after
{
    border: 2px solid var(--primary);
    background-color: var(--primary);
}


/* OUTLINE  (INCOMING) */
.timeline>ul>li.timeline-outline:not(:last-child)::before 
{
    border-left: 3px dotted var(--primary);
}
.timeline>ul>li.timeline-outline::after
{
    border: 2px solid var(--primary);
    background-color: var(--secondary);
}

/* OUTLINE ALT  (NOT DONE) */
.timeline>ul>li.timeline-outline-alt:not(:last-child)::before 
{
    border-left: 3px dotted var(--primary);
}
.timeline>ul>li.timeline-outline-alt::after
{
    border: 2px solid var(--primary);
    background-color: var(--quartery);
}