@import url("/assets/css/global.css");

button
{
    border-radius: 2px;
    border: solid var(--primary);
    background-color: var(--secondary);
    color: var(--primary);
}

#switch_pageMode 
{
    /* font-size: 24px; Tamaño de fuente grande */
    overflow: visible; /* Elimina el efecto de scroll */
}