<!DOCTYPE html>
<html lang="es">
    <meta charset="utf-8">
    <head>
        <!-- JS -->
        <!-- <script src="pagemode.js"></script> -->
        <script src="pagemode.js" type="module"></script>
        <!------------------------------------------------------------------------>
    </head>
    <body>
        <!-- BODY -->
        <button id="switch_pageMode" type="button">( 🌝 | 🌚 )</button>
        <!------------------------------------------------------------------------>
    </body>
</html>